{% extends 'base.html.twig' %}

{% block title %}Hello PlayerControllerUpdateController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ player.pedagogy }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/wamp64/www/ConfinementClassroom/src/Controller/PlayerUpdateController.php'|file_link(0) }}">src/Controller/PlayerControllerUpdateController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/wamp64/www/ConfinementClassroom/templates/player/index.html.twig'|file_link(0) }}">templates/player_controller_update/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
