{% extends 'base.html.twig' %}

{% block title %}Evénement du jour{% endblock %}

{% block body %}
    <h1>Malheureusement le quotidien s'abat à nouveau</h1>

    <a type="button" href="{{ path('desktop') }}">Retour</a>
{% endblock %}