{% extends 'base.html.twig' %}

{% block title %}Edit EffectPlayer{% endblock %}

{% block body %}
    <h1>Edit EffectPlayer</h1>

    {{ include('effect_player/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_effect_player_index') }}" class="btn btn-primary">back to list</a>

    {{ include('effect_player/_delete_form.html.twig') }}
{% endblock %}
