{% extends 'base.html.twig' %}

{% block title %}Netflip{% endblock %}

{% block body %}
    <style>
    .netflip{
        background-color: black;
    }
    </style>

    <div class="netflip">
        <img src="{{ asset('assets/img/netflip.png') }}" alt="Netflip" width=" 100%"/>
        <meta http-equiv="refresh" content="2; URL=netflipCatalogue">
    </div>
{% endblock %}
