{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}
<style>

    .menu { margin-left: auto; margin-right: auto; width: 6em}
    .btn-link:hover {
        color: white;
        background-color: black;
    }


</style>

<div class="menu">
    <h1>Menu</h1>

    <table>
        <tr>
            <td><button><a href="{{ path('game_new') }}">Nouvelle partie</a></button></td>
        </tr>
        <tr>
            <td><button><a href="">Sauvegarder la partie</a></button></td>
        </tr>
        <tr>
            <td><button><a href="">Charger une partie partie</a></button></td>
        </tr>
        <tr>
            <td><button><a href="">Quitter la partie</a></button></td>
        </tr>

    </table>
</div>
{% endblock %}
