{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}
<style>
    .menu { margin-left: auto; margin-right: auto; width: 6em}
</style>

<div class="menu">

    <div class="btn-group-vertical">

        <a type="button" class="btn btn-link" href="{{ path('game_new') }}">Nouvelle partie</a>

        <a type="button" class="btn btn-link" href="{{ path('home') }}">Sauvegarder la partie</a>

        <a type="button" class="btn btn-link" href="{{ path('game_index') }}">Charger une partie</a>

        <a type="button" class="btn btn-link" href="{{ path('home') }}">Quitter la partie</a>

    </div>

</div>
{% endblock %}
